    <li>
        <a href="javascript:void(0);" id="admin" title="<lang navigation_admin />" class="has-subitem"><lang navigation_admin /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_control.php?action=accounts" id="admin-accounts" title="<lang navigation_admin_accounts />"><lang navigation_admin_accounts /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_control.php?action=language" id="admin-language" title="<lang navigation_admin_language />"><lang navigation_admin_language /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_control.php?action=translation" id="admin-translation" title="<lang navigation_admin_translation />"><lang navigation_admin_translation /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_control.php?action=download" id="admin-download" title="<lang navigation_admin_download />"><lang navigation_admin_download /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_control.php?action=backup" id="admin-backup" title="<lang navigation_admin_backup />"><lang navigation_admin_backup /></a>
            </li>
        </ul>
    </li>