<ul>
    <li>
        <a href="<var_config baseurl />index.php" id="index" title="<lang navigation_index />"><lang navigation_index /></a>
    </li>
    <li>
        <a href="<var_config baseurl />index.php?action=status" id="status" title="<lang navigation_status />"><lang navigation_status /></a>
    </li>
    <li>
        <a href="<var_config baseurl />index.php?action=details" id="details" title="<lang navigation_details />"><lang navigation_details /></a>
    </li>
    <li>
        <a href="<var_config baseurl />index.php?action=search" id="search" title="<lang navigation_search />"><lang navigation_search /></a>
    </li>
    <li>
        <a href="<var_config baseurl />index.php?action=history" id="details" title="<lang navigation_history />"><lang navigation_history /></a>
    </li>
    <li>
        <a href="<var_config baseurl />index.php?action=translate" id="translate" title="<lang navigation_translate />"><lang navigation_translate /></a>
    </li>
    <li>
        <a href="<var_config baseurl />account.php" id="account" title="<lang navigation_account />"><lang navigation_account /></a>
    </li>
    <var navbar_admin />
    <li>
        <a href="<var_config baseurl />logout.php" id="logout" title="<lang navigation_logout />"><lang navigation_logout /></a>
    </li>
</ul>