<tr>
                    <td>
                        <img class="flags" src="cid:<var image_cid_name />" />
                    </td>
                    <td>
                        <div><lang index_info_table_trans_string_count />: <var total_count /></div>
                        <div><lang index_info_table_translated_count />: <var current_translatet /></div>
                        <div><lang index_info_table_translated_open />: <var current_open /></div>
                    </td>
                </tr>