    <div class="index-language-block glass-block-border glass-border">
        <div class="block-caption"><var file_name /></div>
        <div class="index-lang-details" id="detail-<var file_id />" data-file="<var file_name />" style="display:none;">
            <div><lang index_info_table_trans_string_count />: <span class="total-count"></span></div>
            <div><lang index_info_table_translated_percent />: <span class="translation-percent"></span>%</div>
            <div><lang index_info_table_translated_open />: <span class="open-count"></span></div>
            <div class="index-lang-progress-box index-lang-progress-meter">
                <span class="rgb-bar" style=""></span>
            </div>
        </div>
    </div>