<div class="translation-block glass-block-border glass-border">
    <div class="glass-block">
        <h2><lang translation_details_topic /></h2>
        <div class="select-box glass-block-border glass-border" style="max-width: 300px;">
            <select id="details-selected" onchange="changeLanguage()">
                <var select_options />
            </select>
        </div>
    </div>
</div>

<div class="translation-block glass-block-border glass-border">
    <div id="details-list" class="glass-block">
        <lang translation_details_placeholder />
    </div>
</div>
<script src="<var_config baseurl />skin/js/translation_details.js"></script>