<div class="flex-3">
    <div class="translation-block glass-block-border glass-border">
        <div class="glass-block">
            <div class="checkbox-element">
                <input type="checkbox" id="save-by-md5" /><span><lang translation_ajax_translation_save_by_md5 /></span>
            </div>
            <br />
            <div class="checkbox-element">
                <input type="checkbox" id="show-common" /><span><lang translation_ajax_translation_show_common /></span>
            </div>
        </div>
    </div>
    
    <div id="translation-status" class="glass-block-border glass-border">
        <div class="glass-block" id="status"></div>
    </div>
    
    <div class="translation-block glass-block-border glass-border">
        <div class="glass-block">
            <div class="elment-block translation-button">
                <button class="button glass-border" onclick="saveCurrentTranslation()"><lang translation_ajax_translation_save_and_next /></button>
            </div>
            <div class="elment-block translation-button">
                <button class="button glass-border" onclick="searchForTranslation()"><lang translation_ajax_translation_search_form_empty /></button>
            </div>
        </div>
    </div>
</div>
