    <div class="index-language-block glass-block-border glass-border">
        <div class="index-lang-name"><var lang_name /></div>
        <div class="index-lang-info">
            <img src="<var_config baseurl />skin/images/flags/4x3/<var lang_code />.svg" />
            <div class="index-lang-details">
                <div><lang index_info_table_trans_string_count />: <var total_count /></div>
                <div><lang index_info_table_translated_percent />: <var current_percent />%</div>
                <div><lang index_info_table_translated_open />: <var current_open /></div>
                <div class="index-lang-progress-box index-lang-progress-meter">
                    <span class="rgb-bar"<var rgb_mask_style />></span>
                </div>
            </div>
        </div>    
    </div>