<table id="index-info-table">
    <thead>
        <tr>
            <th><lang index_info_table_language_count /></th>
            <th><lang index_info_table_org_string_count /></th>
            <th><lang index_info_table_trans_string_count /></th>
            <th><lang index_info_table_translated_count /></th>
            <th><lang index_info_table_translated_percent /></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><var language_count /></td>
            <td><var org_string_count /></td>
            <td><var trans_string_count /></td>
            <td><var translated_count /></td>
            <td><var translated_percent />%</td>
        </tr>
    </tbody>
</table>