<div class="account-lang-block glass-block-border glass-border">
    <div class="account-lang-name"><var ajax_language_name /></div>
    <div class="account-lang-selection">
        <img src="<var_config baseurl />skin/images/flags/4x3/<var ajax_language_code />.svg" />
        <div class="selection-block">
            <div class="checkbox-element">
                <input type="checkbox" data-action="view" data-code="<var ajax_language_code />" <var view_status />/><span><lang profile_ajax_translation_view /></span>
            </div>
            <div class="checkbox-element">
                <input type="checkbox" data-action="edit" data-code="<var ajax_language_code />" <var edit_status />/><span><lang profile_ajax_translation_edit /></span>
            </div>
        </div>
    </div>
</div>